[submodule "NeuralAmpModelerCore"]
	path = NeuralAmpModelerCore
	url = git@github.com:sdatkinson/NeuralAmpModelerCore.git
[submodule "nam-binary-loader"]
	path = nam-binary-loader
	url = git@github.com:tone-3000/nam-binary-loader.git
